<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/checkout" method="post">
      <label for="item"></label>
      <input type="text" id="item" name="item">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
